<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
     <script src="/js/bundle.js"></script>
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
     <script>
      $(document).ready(function() {
        var data = <%- JSON.stringify(data) -%>;
        var show_app = <%- JSON.stringify(show_app) -%>;
        if(show_app === true){
          Dashboard.render('dashboard', data);
        }
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div id="login">
        <h1>This is an example of the Authorization Code flow</h1>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        
        <div id="oauth">
        </div>
        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
      </div>
    </div>

    <div id="dashboard"></div>
  </body>
</html>